body {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bolder;
    background-color: #043058;
    background-image: url('../images/harvest_logo.png.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
    color: #fbf9f9
}

h2 {
    color: #edeff0;
    font-weight: bold;
}
html, body {
    height: 100%;
    overflow-y: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
footer {
    background-color: #212529;
    color: white;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 14, 101, 0.6); /* Light overlay */
    z-index: -1;
}
.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
}

.background-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/harvest_logo.png.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -2;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 31, 31, 0.4); /* Dim effect */
    z-index: -1;
}
.navbar-brand span {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}



